<div id="home">


    <div class="container">
        <div class="row">
            <div class="col-9 offset-1">
                <nav class="navbar navbar-default">
                    <a class="navbar-brand">Career Center</a>
                    <h4 id="member-name" class="pull-right">Placeholder</h4>
                    <button class="btn btn-danger pull-right" type="submit" id="logout">Logout</button>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-8 offset-2">

                <form>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Select a Category</label>
                        <select class="form-control" id="category-search">
                            <option selected>Search All</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Select a Desired Salary</label>
                        <select class="form-control" id="salary-search">
                            <option selected>Search All</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Select an Education Level</label>
                        <select class="form-control" id="education-search">
                            <option selected>Search All</option>
                        </select>
                    </div>
                    <button class="btn btn-primary pull-right" type="submit" id="submit">Submit</button>
                </form>
            </div>

        </div>
        <div class="row">
            <div class="col-10 offeset-1">
                <h3>Search Results</h3>
                <table class="table table-striped" id="resultSection">
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/js/index.js"></script>